@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Univers Condensed";
  src: url("/src/fonts/rdr2_font.woff");
}

@font-face {
  font-family: Redemption;
  src: url("/src/fonts/redemption.ttf");
}

@font-face {
  font-family: "RDR Lino";
  src: url("/src/fonts/RDR_Lino.ttf");
}

@font-face {
  font-family: "Serif Demibold";
  src: url("/src/fonts/Serif_Demibold.ttf");
}
